.App {
  text-align: center;
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.login{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap:10% ;
}

.login-btns{
  display: flex;
  align-items: center;
  /* width: 100vw; */
  margin-bottom: 4%;
  margin-top: 4%;
}


.form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
hr{
  
  border: .1px solid black;
  width: 100%;
 margin: 0;
 
}

.admin{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap:10% ;

}

.sig{
  display: flex;
  align-items: center;
  margin-top: 5%;
  justify-content: center;
  flex-direction: column;
}


.sig h2{
  margin-bottom: 4%;
}

.welcomeAdmin{
  text-align: center;
  padding-top:1.5%;
  padding-bottom:3%;
  margin: 0;
  margin-bottom: .1%;
 
  background-image: linear-gradient(to bottom, #1976d2, #7f5ec4, #b33b9f, #cd0269, #cb042c);
}




.welcome{
  /* border: 1px solid black; */
  text-align: center;
  padding-top:1.5%;
  padding-bottom:3%;
  margin: 0;
  margin-bottom: .1%;
  /* background-color: blue; */
  /* background-color:#194f85; */
  background-image: linear-gradient(to bottom, #1976d2, #176cbe, #1762ab, #185998, #194f85);
}

.profile{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* gap:30px; */

}
.makereverse{
  display: flex;
  flex-wrap: wrap;
  flex-direction:column-reverse;
  gap: 10px;
}

.h5{
  margin-top: 0.3%;
  margin-bottom: 0.3%;
}

.profileBox{
  /* border: 1px solid black;
  width: 200px;
  height: 500px; */
  margin-bottom: 20px;
}


table{
  /* display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  /* border: 1px solid black; */
  width:50vw;
  /* padding: 2%; */
  
  
}


tr{
  border: 1px solid black;
  padding: 4%;
  margin: 0;
}
th{
  border: 1px solid black;
  padding: 4%;
  margin: 0;


}
td{
  border: 1px solid black;
  padding: 4%;
  padding-left: 4%;
  margin: 0;
}

.deleteicon{
  margin-left: auto;
}

.editicon{
  margin-right: auto;
}





.card{
  min-width: fit-content;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 3%;
  box-shadow: rgb(0 0 0 / 24%)2px 4px 18px;
}

.editfoodform{
  margin-top: 3%;
}

.reject_btn{
  margin-right: auto;
}
.accept_btn{
  margin-left: auto;
}

.username{
  color:whitesmoke
  /* color:royalblue */
}